{% include 'adminMenu.twig' %}
<div class="row">
    <h2>Управление вопросами</h2>
    <div class="col s12">
        <table class="striped">
            <thead>
                <tr>
                    <th>Вопрос</th>
                    <th>Дата</th>
                    <th>Статус</th>
                    <th>Ответ</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            {% for post in posts %}
                <tr>
                    <td>{{post.question}}</td>
                    <td>{{post.date_add}}</td>
                    {% if post.status == 0 %}
                        <td></td>
                    {% endif %}
                    {% if post.status == 1 %}
                        <td>Без ответа</td>
                    {% endif %}
                    {% if post.status == 2 %}
                        <td>Опубликован</td>
                    {% endif %}
                    {% if post.status == 3 %}
                        <td>Скрыт</td>
                    {% endif %}
                    <td>
                        {% for answer in answers %}
                            {% if post.id == answer.id %}
                                {{answer.answer}}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="guestion_id" placeholder="" value="{{ post.id }}" />
                            <input type="submit" name="questionEdit" value="Редактировать" />
                        </form>
                    </td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="guestion_id" placeholder="" value="{{ post.id }}" />
                            <input type="submit" name="questionDell" value="Удалить" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% include 'adminFooter.twig' %}

