{% include 'adminMenu.twig' %}
<div class="row">
    <h2>Редактировать вопрос</h2>
    <div class="col s12">
        <table class="striped">
            <thead>
                <tr>
                    <th>Вопрос</th>
                    <th>Автор вопроса</th>
                    <th>Статус</th>
                    <th>Ответ</th>
                    <th>Тема</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <form method="POST">
                        <input type="hidden" name="question_id" placeholder="" value="{{question.id}}" />
                        <textarea name="text" class="materialize-textarea">{{question.question}}</textarea>
                        <input type="submit" name="questionTextEdit" value="Редактировать" />
                    </form>
                </td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="question_id" placeholder="" value="{{question.id}}" />
                        <textarea name="text" class="materialize-textarea">{{question.name}}</textarea>
                        <input type="submit" name="guestionNameEdit" value="Редактировать" />
                    </form>
                </td>
                {% if question.status == 0 %}
                    <td></td>
                {% endif %}
                {% if question.status == 1 %}
                    <td>Без ответа</td>
                {% endif %}
                {% if question.status == 2 %}
                    <td>Опубликован</td>
                {% endif %}
                {% if question.status == 3 %}
                    <td>Скрыт</td>
                {% endif %}
                {% if answer %}
                    <td>{{answer.answer}}</td>
                {% else %}
                    <td>Нет ответа</td>
                {% endif %}
                <td>{{question.theme}}</td>
            </tr>
        </table>
    </div>
<div class="col s12">
    <table class="striped">
        <thead>
            <tr>
                <th>Ответить</th>
                <th>Скрыть(опубликовать)</th>
                <th>Сменить тему</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tr>
            <td>
                <form method="POST">
                    {% if answer %}
                        <input type="hidden" name="answer_id" placeholder="" value="{{ answer.id }}" />
                    {% endif %}
                    <input type="hidden" name="question_id" placeholder="" value="{{question.id}}" />
                    <textarea name="text" class="materialize-textarea">{% if answer %} {{answer.answer}} {% endif %}</textarea>
                    <input type="submit" name="answerEdit" value="Редактировать" />
                </form>
            </td>
            <td>
                <form method="POST">
                    <input type="hidden" name="guestion_status" placeholder="" value="{{ question.status }}" />
                    <input type="hidden" name="guestion_id" placeholder="" value="{{ question.id }}" />
                    <input type="submit" name="questionEditStatus" value="Скрыть(опубликовать)" />
                </form>
            </td>
            <td>
                <form method="POST">
                    <input type="hidden" name="guestion_id" placeholder="" value="{{ question.id }}" />
                    <select class="browser-default" name="themeEdit">
                        {% for theme in themes %}
                            <option value="{{theme.id}}">{{theme.theme}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="questionThemeEdit" value="Отправить" />
                </form>
            </td>
            <td>
                <form method="POST">
                    <input type="hidden" name="guestion_id" placeholder="" value="{{ question.id }}" />
                    <input type="submit" name="questionEditDell" value="Удалить" />
                </form>
            </td>
            </tr>
        </table>
    </div>
</div>
{% include 'adminFooter.twig' %}

