{% include 'header.twig' %}
<a href="/User">Войти в панель администратора </a> <br>
<a href="/Question"> Задать вопрос</a>
<section class="cd-faq">
    <ul class="cd-faq-categories">
        {% for menu in menus %}
            <li><a href="#{{menu}}">{{menu}}</a></li> 
        {% endfor %}
    </ul>      
    <div class="cd-faq-items">
        {% for menu in menus %}
            <ul id="{{menu}}" class="cd-faq-group">
                <li class="cd-faq-title"><h2>{{menu}}</h2></li>
                {% for key, value in posts %}
                    {% if key==menu %}
                        {% for post in value %}
                            <li>
                                <a class="cd-faq-trigger" href="#0">{{post.question}}</a>
                                <div class="cd-faq-content">
                                    <p>{{post.answer}}</p>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</section>
{% include 'footer.twig' %}

